<h1>My listings</h1>
<% @my_listings.each do |my_listing|  %>
  <div class="card-product mb-3">
    <%= image_tag "room_1.jpg", alt: "Rental room photo", width: 200 %>
    <div class="card-product-infos">
      <h2><%= my_listing.name %></h2>
      <p><%= my_listing.address %></p>
    </div>
  </div>
<% end %>
