<h1>New review</h1>
<%= simple_form_for [@listing, @review] do |f| %>
  <%= f.input :comment, placeholder: 'How was your stay ?' %>
  <%= f.input :note, collection: 1..5, prompt: "Rate the listing", selected: 5 %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
